*{box-sizing: border-box;}

html {    
    background: url('./images/cover2.jpg') no-repeat center fixed;     
    background-size: cover;
    
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-top: 130px;
    margin-left: 0px;
    height: 125vh;
    padding: 1px;
}

.ImgNavagation{
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.92;
    max-width: 100%;
    align-items: center;
    display: flex;
}

h1{
    font-weight: bolder;
    font-size: 50px;
    color: black;
    max-width: 100%;
    
}

.navigation {
    
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    max-width: 100%;
    
}
.location-cont1{
    margin: 10px;
    float: left;
   
}
.location-cont2{
    margin: 10px;
    float: left;
   
}
li{
    list-style-type: none;
}

.ImgNavagation *{
    display:inline;
    margin: 5px;
}
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.myslides{
   
    display: none;
}


.prev, .next{
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0,0.34);
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}
.active, .dot:hover{
    background-color: #717171;

}

.fade{
    animation-name: fade;
    animation-duration: 1.0s;
    
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

.mission_content{
    margin: 1px 0px 1px 0px;
    border: 1.5px solid white;
    max-width: 895px;
    
    
}

#About{
    margin: 1px 0px 1px 0px;
    border: 1.5px solid white;
    max-width: 895px;
    
}

#Contact{
    background-color: #282424;
    overflow: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;

    
}

#Contact a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
}

#Contact a:hover{
    background-color: #E91E63;
    border-radius : 20%;
    color: white;
    
    
}

#ontact a:active{
    background-color: #E91E63;
    border-radius : 20%;
    color: white;
}